@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

.container {
  width: 600px;
  min-width: 600px;
  /* border-radius: 8px; */
  background: linear-gradient(to left top, #009c00, #b63000);
  padding: 5px;
}

.wrapper {
  background-color: white;
  /* border-radius: 5px; */
}

.head {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 24px;
}

.head-image-wrap {
  width: 100px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.head-image-wrap .head-image {
  max-width: 100%;
}

.head-title {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 500;
  color: #b63000;
  margin: 0;
  padding: 0 3rem;
  text-shadow: 1px 1px grey;
}

.head-date-wrap {
  position: absolute;
  top: 4px;
  right: 10px;
  display: flex;
  align-items: baseline;
}

.head-date-day {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: #034d03;
  margin-right: 5px;
}

.head-date-month {
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #034d03;
}

.content {
  display: flex;
  position: relative;
}

.menu {
  flex: 3;
}

.info {
  background-color: whitesmoke;
  padding: 8px;
  position: absolute;
  top: 0;
  right: 0;
}

.category {
  padding: 0 8px;
  margin-bottom: 8px;
}

.category-title {
  font-family: 'Balsamiq Sans', cursive;
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
  color: #b63000;
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 5px;
}

.category-title > span {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  position: relative;
  top: -5px;
}

.dish {
  position: relative;
  padding-left: 30px;
  padding-bottom: 4px;
  display: flex;
}

.dish-index {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  text-align: right;
  font-size: 14px;
}

.dish-desc-wrap {
  width: 100%;
}

.dish-desc {
  display: flex;
  align-items: baseline;
  /* border-bottom: 1px dashed rgba(128, 128, 128, 0.1); */
}

.dish-title {
  font-size: 16px;
  font-weight: 500;
}

.dish-weight {
  margin: 0 4px;
  font-size: 10px;
  font-weight: 300;
}

.dish-price {
  font-size: 16px;
  text-align: right;
  display: flex;
}

.dish-price::before {
  content: '-';
  display: block;
  padding: 0 8px;
}

.dish-composition {
  font-style: italic;
  font-size: 10px;
  line-height: 1;
  font-weight: 300;
}

.info .block {
  text-align: center;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

.info .block:last-child {
  border-bottom: none;
}

.block .title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #b63000;
  display: inline-block;
  padding: 0 8px;
  position: relative;
}

.block .title.delivery::after {
  content: '**';
  position: absolute;
  display: block;
  top: -3px;
  right: -10px;
}

.block .subtitle {
  font-size: 14px;
  line-height: 1.2;
}

.block .value {
  font-size: 22px;
  font-weight: 500;
  color: #b63000;
  text-shadow: 1px 1px grey;
}

.block .value.small {
  font-size: 18px;
}

.block.block-promo {
  padding-bottom: 4px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block.block-promo .block-image-wrap {
  width: 125px;
  height: 125px;
  margin-bottom: 8px;
}

.block.block-promo .block-image-wrap .block-image {
  max-width: 100%;
}

.footer {
  margin-top: 8px;
}

.note {
  font-size: 10px;
  padding-left: 38px;
  position: relative;
}

.note.note-1::before {
  content: '*';
  display: block;
  position: absolute;
  top: 0;
  left: 16px;
  color: #b63000;
}

.note.note-2::before {
  content: '**';
  display: block;
  position: absolute;
  top: 0;
  left: 12px;
  color: #b63000;
}

.menu-block {
  position: relative;
}

.menu-block {
  position: absolute;
  bottom: 0;
  right: 0;
}

.menu-block .category-title {
  justify-content: flex-end;
}

.menu-block .dish {
  justify-content: flex-end;
}

.menu-block .dish-desc-wrap {
  width: auto;
}

.menu-block .dish-index {
  position: static;
  margin-right: 8px;
}

.mb-1 {
  margin-bottom: 8px;
}
